<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>852456617728-2cm4tr282bc1t7cqofrghpt8el645d8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852456617728-2cm4tr282bc1t7cqofrghpt8el645d8a</string>
	<key>API_KEY</key>
	<string>AIzaSyApWmmjToeuZtlRhTudq9xW5RPcv86mRYo</string>
	<key>GCM_SENDER_ID</key>
	<string>852456617728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.minedminds.MMMentoring</string>
	<key>PROJECT_ID</key>
	<string>mined-minds-mentoring</string>
	<key>STORAGE_BUCKET</key>
	<string>mined-minds-mentoring.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:852456617728:ios:714ab7bc6325fb56</string>
	<key>DATABASE_URL</key>
	<string>https://mined-minds-mentoring.firebaseio.com</string>
</dict>
</plist>